{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $caption := .Get "caption" -}}
{{- $class := .Get "class" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $loading := .Get "loading" | default "lazy" -}}

{{- if $src -}}
<figure class="image-container {{ $class }}">
  <img
    src="{{ $src | absURL }}"
    alt="{{ $alt }}"
    {{- with $width }} width="{{ . }}"{{ end }}
    {{- with $height }} height="{{ . }}"{{ end }}
    loading="{{ $loading }}"
    decoding="async"
  />
  {{- with $caption }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end }}
</figure>
{{- end -}}